<%= form_with model: [ @post, @post.comments.build ], url: user_post_comments_path(post_id: @post.id) do |form| %>
  <p>
    <%= form.label :text, required: true %><br>
    <%= form.text_area :text, required: true %>
  </p>

  <p>
    <%= form.submit "Comment" %>
  </p>
<% end %>
