/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 1rem;
}

.message {
  text-align: center;
}

.alert {
  color: red;
}

.notice {
  color: green;
}

.nav {
  display: flex;
  justify-content: end;
  margin-right: 2.25rem;
}

.nav-btn {
  margin: 0 0.25rem 0 0.25rem;
}

.index_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bio {
  margin-bottom: 1rem;
}

.home_container {
  width: 100%;
  padding-left: 1rem;
}

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.center_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.posts_container {
  margin: 1rem;
}

.field {
  padding: 0.5rem 0 0.5rem 0;
}

.actions {
  padding: 0.5rem 0 0.5rem 0;
}

.content {
  padding: 1rem;
}

.border_solid {
  border: solid 2px black;
}

.img_container {
  height: 5.625rem;
  width: 5.625rem;
}

.info_card {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 50%;
  padding: 0.5rem;
}

.name_label {
  align-self: center;
  margin: 0.25rem;
  width: fit-content;
}

.count_post {
  align-self: flex-end;
  margin: 0.25rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  align-items: center;
}

.user_all_posts {
  align-self: center;
  width: max-content;
}

.comments_box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.comments_for_posts {
  padding: 0.5rem;
  margin: 1rem;
}

.likes_box {
  display: flex;
  place-content: flex-end;
  padding-right: 1rem;
  margin: 0;
}

.post_text {
  font-size: larger;
  margin: 0;
}

.btn_pag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.info_post {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.info_comment {
  padding-left: 1rem;
}

.show_posts {
  margin: 2rem 4rem;
}

.links {
  padding: 0.125rem 0 0.125rem 0;
}

.margin {
  margin: 1rem 0 1rem 0;
}

.new_post {
  align-self: end;
}

.new_post_container {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: end;
}

.profile_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn,
button,
input[type="submit"] {
  height: max-content;
  font-size: 0.8em;
  align-self: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.705);
  background: white;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.2px;
  color: black;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border: solid 2px black;
}

.field input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
}

@media only screen and (width >= 768px) {
  .index_container {
    width: 70%;
  }

  .home_container {
    width: 65%;
  }
}
