/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.border_solid {
  border: solid 1px black;
}

.img_container {
  height: 100px;
  width: 100px;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 80px;
  width: 50%;
  padding: 0.5rem;
}

.label {
  align-self: center;
}

.count_post {
  align-self: flex-end;
  justify-self: flex-end;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.user_all_posts {
  align-self: center;
  width: max-content;
}

.comments_box {
  display: flex;
  flex-direction: column;
}

.likes_box {
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 1rem;
}

.btn_pag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_post {
  display: flex;
  justify-content: space-around;
}

.show_posts {
  margin: 2rem 4rem;
}
